<h1>Graph Load Test</h1>
<style>
  /* 13. Basic Styling with CSS */

/* Style the lines by removing the fill and applying a stroke */
.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
}

.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #ffab00;
    stroke: #fff;
}

  .focus circle {
  fill: none;
  stroke: steelblue;
}

.axis path,
        .axis line {
          fill: none;
          stroke: #000;
          shape-rendering: crispEdges;
        }

        .area {
          fill: steelblue;
        }
</style>


<h2 style="text-align: center">Flot.js</h2>
<stopwatch time="vm.sharedTime" set-fn="vm.flotStartDirective(startFn);vm.flotStopDirective(stopFn)"></stopwatch>
<div class="row">
  <button type="button" ng-click="vm.flotStart();vm.generateFlot()" class="btn btn-primary">Generate graph (500)</button>
  <button type="button" ng-click="vm.flotStart();vm.generateFlot5k()" class="btn btn-primary">Generate graph (5k)</button>
  <div class="demo-container">
    <div id="flot" class="demo-placeholder" style="float:left; width:1200px; height:420px; direction:ltr;"></div>
</div>
</div>

<h2 style="text-align: center">D3.js</h2>
<stopwatch time="vm.sharedTime" set-fn="vm.d3startDirective(startFn);vm.d3stopDirective(stopFn)"></stopwatch>
<button type="button" ng-click="vm.d3Start();vm.generateD3()" class="btn btn-primary">Generate graph (500)</button>
<button type="button" ng-click="vm.d3Start();vm.generateD3_5k()" class="btn btn-primary">Generate graph (5k)</button>
<div class="row">
    <div id="graph" class="aGraph" ></div>
</div>


<h2 style="text-align: center">Chart.js</h2>
<stopwatch time="vm.sharedTime" set-fn="vm.chartStartDirective(startFn);vm.chartStopDirective(stopFn);vm.chartResetDirective(resetFn)"></stopwatch>
<button type="button" ng-click="vm.chartStart();vm.generateChart()" class="btn btn-primary">Generate graph (500)</button>
<button type="button" ng-click="vm.chartReset();vm.chartStart();vm.generateChart5k()" class="btn btn-primary">Generate graph (5k)</button>
<div class="row">
    <canvas id="myChart"></canvas>
  </div>
</div>



<script type="text/ng-template" id="stopwatch.html">
  <div><strong>Elapsed Time: </strong>{{swctrl.getElapsedMs()}} ms</div>
  <!-- <div><strong>Current Time: </strong>{{currentTime | date:'h:mm:ss a'}}</div> -->
  <!--
  <button id="start" class="btn btn-success" ng-click="swctrl.start()">Start</button>
  <button id="stop" class="btn btn-danger" ng-click="swctrl.stop()">Stop</button>
  <button id="reset" class="btn btn-default" ng-click="swctrl.reset()">Reset</button>
  -->
</script>
